.filter-year {
  width: 176px;
  height: 30px;
  font-weight: 200;
  font-size: X-large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 2px solid white;
  border-radius: 12px;
  color: rgb(114, 114, 114);
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
}
