.expense-card {
  border-radius: 12px;
  margin-left: 25px;
  margin-top: 20px;
  padding-top: 30px;
  padding-left: 10px;
  width: 550px;
  height: 100px;
  background-color: white;
  color: orangered;
  font-size: larger;
  
}
